JUDGE0_TELEMETRY_ENABLE=false
ENABLE_WAIT_RESULT=false
ENABLE_COMPILER_OPTIONS=false
ENABLE_COMMAND_LINE_ARGUMENTS=false
ENABLE_SUBMISSION_DELETE=false
ENABLE_BATCHED_SUBMISSIONS=false
ENABLE_CALLBACKS=false
ENABLE_ADDITIONAL_FILES=false
ALLOW_ENABLE_NETWORK=false
ENABLE_NETWORK=false
MAX_QUEUE_SIZE=100
REDIS_HOST=redis
REDIS_PASSWORD=CHANGE_ME_REDIS
POSTGRES_HOST=db
POSTGRES_DB=judge0
POSTGRES_USER=judge0
POSTGRES_PASSWORD=CHANGE_ME_POSTGRES
RAILS_ENV=production
CPU_TIME_LIMIT=3
MAX_CPU_TIME_LIMIT=5
WALL_TIME_LIMIT=8
MAX_WALL_TIME_LIMIT=10
MEMORY_LIMIT=128000
MAX_MEMORY_LIMIT=256000
MAX_FILE_SIZE=1024
MAX_MAX_FILE_SIZE=2048
